// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.homes-top {
  background-color: black;
  color: white;
}

.homes-about {
  background-color: black;
  color: white;
}

.header {
  margin-bottom: 0px!important;
}

.main-visual {
  margin-top: 0px!important;
  padding-top: 0px!important;
}