<h1 class="text-center">About</h1>
<div class="about-content text-center">
  <p>
    HANABI-Mapは東京都内の小売店の</br>
    手持ち花火・置き型花火・ネズミ花火などの変わり種花火などの</br>
    玩具花火の取り扱い状況を</br>
    共有するアプリケーションです。</br>
    
    
  </p>
</div>