<table>
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <tr>
        
        <td>
        <%= link_to post_comment.user.name,user_path(post.user) %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
          <% if post_comment.user == current_user %>
            <%= link_to "Destroy", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>