<table>
  <tbody>
    <% post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= post_comment.user.name %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
            <%= link_to "Destroy", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
