/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.center form {
  display: inline-block;
  text-align: left;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

a.username-link {
    color: #6A0DAD;
}

a.title-link {
    color: #6A0DAD; 
}

.h4 {
  color: #6a0dad; 
}

.post-user-name {
  color: #6a0dad; 
}

.dark-purple-link {
  color: #4b0082;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.small-text {
  font-size: 14px; 
}

.main-visual {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-visual img {
  width: 100%;
  height: auto;
  display: block;
}

.container, .container th, .container td, .container h1, .container a {
    color: white;
  }
  .pagination {
    color: white;
  }
  