<footer style="background-color: #000;">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto text-white'>
    	　<p>Copyright © HANABI-Map</p>
    	</div>
    </div>
  </div>
</footer>